<!DOCTYPE html>
<html>

<head>

    <title>Random Password Generator</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>🔐 Random Password Generator</h1>

    <form method="POST">

        <input
            type="number"
            name="length"
            min="4"
            max="50"
            placeholder="Enter Password Length"
            required>

        <button type="submit">
            Generate Password
        </button>

    </form>

    {% if password %}

    <div class="result">

        <h3>Generated Password</h3>

        <p>{{ password }}</p>

    </div>

    {% endif %}

</div>

</body>

</html>